<div class="global-header">
  <h2 mat-dialog-title >Ajouter une nouvelle formation</h2>
    <mat-dialog-content>

      <form>
        <div class="flex-container">
        <!-- Nom -->
        <mat-form-field appearance="fill" class="full-width mgb20 form-field">

          <mat-label>Nom</mat-label>
          <input matInput id="nom" [(ngModel)]="newFormation.nom" name="nom" required/>
        </mat-form-field>
      </div>

      <div class="flex-container">

         <!-- Sélection du chef de formation -->
        <mat-form-field appearance="fill" class="full-width mgb20 form-field">
          <mat-label>Chef de formation</mat-label>
          <input  matInput id="responsableDeFormation" [(ngModel)]="newFormation.responsableFormationId" name="chef" required/>
        </mat-form-field>
      </div>

    </form>

    </mat-dialog-content>
    <mat-dialog-actions align="end" class="dialog-actions">
      <button mat-button type="button" (click)="onCancel()">Annuler</button>
      <button mat-button  type="button" (click)="onAdd()" class="btn-submit">Sauvegarder</button>
    </mat-dialog-actions>
</div>
