<app-menu></app-menu>

<div class="main-content">
    <header>
        <h1>Tableau de bord </h1>
    </header>

    <div class="action-bar">
        <input type="text" placeholder="Rechercher un enseignant, module ou formation...">
        <div class="action-buttons">
            <button>Ajouter un enseignant</button>
            <button>Ajouter une formation</button>
            <button>Importer/Exporter</button>
        </div>
    </div>


    <div>
        <h2> main content</h2>
    </div>
</div>