<mat-toolbar color="primary">
    <span>LOGO</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Mon compte</button>
        <button mat-menu-item (click)=" logout()">Déconnecter</button>
    </mat-menu>
</mat-toolbar>

<div class="main-content">
    <div class="frames-container">
        <mat-card class="frame gray">
            <h3>Affectations</h3>
        </mat-card>
        <mat-card class="frame yellow" *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT')" (click)="navigateToUsers()">
            <h3>Utilisateurs</h3>
        </mat-card>
        <mat-card class="frame blue" *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT') || userRoles.includes('RESPONSABLE_DE_FORMATION')">
            <h3>Formations</h3>
        </mat-card>
    </div>
</div>