@import "../common-dialog-styles.scss";

.cancel {
    margin-right: 0;
    background: red;
}

.confirmDeletionDialog {
    padding: 20px;
    font: 400 2.25rem / 2.75rem Roboto, sans-serif;
    display: grid;
    font-size: 24 px;
}

.global-header h4 {
  font-size: 24px;
  text-align: center;
  color: red; /* Texte en rouge */
}
