<form #resetForm="ngForm" (ngSubmit)="resetPassword()" *ngIf="!passwordChanged">
  <h1>Reset Password</h1>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" name="email" ngModel required email />
  </div>

  <div *ngIf="!emailIsCorrect" class="error">Il n'y a aucun utilisateur associé à cet email. Veuillez réessayer.</div>

  <div class="form-control">
    <label for="password">New Password</label>
    <input id="password" name="password" ngModel required password />
  </div>

  <div class="form-control">
    <label for="confirmedPassword">Password Confirmation</label>
    <input id="confirmedPassword" name="confirmedPassword" ngModel required />
  </div>

  <div *ngIf="!passwordIsCorrect" class="error">Les mots de passe saisis ne correspondent pas. Veuillez réessayer.</div>

  <button type="submit">Confirm Password Reset</button>
</form>

<label class="passwordChangedLabel" *ngIf="passwordChanged">Mot de Passe modifié</label>
<button class="loginButton" (click)="navigateToLogin()" *ngIf="passwordChanged">Login</button>
