<form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)" *ngIf="!passwordChanged">
  <h1>Reset Password</h1>

  <div class="form-control">
    <label for="password">New Password</label>
    <input id="password" name="password" ngModel required password />
  </div>

  <div class="form-control">
    <label for="passwordConfirmation">Password</label>
    <input id="passwordConfirmation" name="passwordConfirmation" ngModel required />
  </div>

  <div *ngIf="!isEntryCorrect(resetForm)" class="error">Les mots de passe saisis ne correspondent pas. Veuillez réessayer.</div>

  <button type="submit" [disabled]="!resetForm.valid || !isEntryCorrect(resetForm)">Confirm Password Reset</button>
</form>

<label class="passwordChangedLabel" *ngIf="passwordChanged">Mot de Passe modifié</label>
<button class="loginButton" (click)="navigateToLogin()" *ngIf="passwordChanged">Login</button>
