<div class="main-content">
  <div *ngIf="affectations.length > 0; else noAffectations" class="container">
    <h2 class="title" *ngIf="dialog">Les Affectations de  {{ username}}</h2>
    <table class="custom-table">
      <thead>
      <tr>
        <th>Module/Groupe</th>
        <th>Heures Assignées</th>
        <th>Date d'Affectation</th>
        <th>Co-Enseignant</th>
        <th>Commentaire</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let affectation of affectations">
        <td>{{ nomModules[affectation.moduleId!] || 'Chargement...' }} / {{ nomGroupes[affectation.groupeId] || 'Chargement...' }}</td>
        <td>{{ affectation.heuresAssignees }}</td>
        <td>{{ affectation.dateAffectation }}</td>
        <td>
          <a href="#" (click)="loadCoAffectations(affectation.moduleId!); $event.preventDefault();">
            Afficher
          </a>
        </td>
        <td>
          <div class="commentaire-case">
            <ng-container *ngIf="editingId !== affectation.id; else editMode">
              <div class="commentaire-text">{{ affectation.commentaire }}</div>

              <div
                class="custom-icon modif-icon"
                *ngIf="connect"
                (click)="startEditing(affectation)"
                title="modif commentaire"
              >
                ✏️
              </div>
            </ng-container>

            <ng-template #editMode>
              <mat-form-field class="commentaire-text-input"  hintLabel="Max 255 caractères">
                <textarea matInput
                        [(ngModel)]="editedComment"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="10"
                        maxlength="255">
                </textarea>
                <mat-hint align="end">{{editedComment.length || 0}}/255</mat-hint>
              </mat-form-field>
              <div class="buttons-container">
                <button mat-icon-button (click)="saveComment(affectation)">
                  <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button (click)="cancelEditing()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </ng-template>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="selectedModuleId !== null">
      <h3>Co-Affectations pour le module {{ nomModules[selectedModuleId] }}</h3>
      <table class="custom-table">
        <thead>
        <tr>
          <th>Enseignant</th>
          <th>Groupe</th>
          <th>Heures Assignées</th>
          <th>Date d'Affectation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let coAffectation of coAffectations[selectedModuleId]">
          <td>{{ coAffectation.enseignantFirstName.charAt(0) + '. ' + coAffectation.enseignantName }}</td>
          <td>{{ coAffectation.groupeName }}</td>
          <td>{{ coAffectation.heuresAssignees }}</td>
          <td>{{ coAffectation.dateAffectation }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <ng-template #noAffectations>
    <p class="no-affectations-message">Aucune affectation trouvée pour cet enseignant.</p>
  </ng-template>


</div>
