<div class="main-content">


  <!-- Affichage des profils -->
  <app-enseignants></app-enseignants>


  <div class="header-container">
    <h1 class="page-header">Liste des utilisateurs</h1>
    <div
      class="custom-button plus-button"
      (click)="showDialog()"
      title="Show more"
    >
      +
    </div>
  </div>

  <!-- Conteneur de recherche et rôle -->
  <div class="search-and-role-container">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Recherche..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="searchTeachers()"
      />
    </div>

    <div class="role" *ngIf="isYearSelected()">
      <select id="role" [(ngModel)]="selectedRole" (change)="filterByRole()">
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
    </div>
  </div>

  <!-- Conteneur des utilisateurs -->
  <section [ngSwitch]="view" class="card-content">
    <div *ngSwitchCase="'card'" class="user-grid">
      <app-user-card
        [user]="user"
        [selectedYear]="getSelectedYear()"
        [isYearSelected]="isYearSelected()"
        (deleteUser)="delete($event)"
        (viewAffectations)="openAffectationModal($event)"
        *ngFor="let user of listUsersWithRolesOfSelectedYear"
      >
      </app-user-card>
      <div
        class="no-user-message"
        *ngIf="listUsersWithRolesOfSelectedYear.length === 0"
      >
        <p>Aucun utilisateur trouvé</p>
      </div>
    </div>
    <div *ngSwitchDefault>
      <p>Aucun utilisateur trouvé</p>
    </div>
  </section>
</div>

<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Affectations de l'utilisateur</h2>
      <button class="close-button" (click)="closeModal()">✖</button>
    </div>

    <div class="modal-body">
      <ul *ngIf="affectations.length > 0; else noAffectations">
        <li *ngFor="let affectation of affectations" class="affectation-item">
          <span class="affectation-title">
            <strong>{{ affectation.nomModule || "Module inconnu" }}</strong>
          </span>
          <span class="affectation-desc">
            {{ affectation.commentaire ? affectation.commentaire : "Aucun commentaire" }}
          </span>
          <span class="affectation-info">
            ⏳ {{ affectation.heuresAssignees }} heures | 📅 {{ affectation.dateAffectation }}
          </span>
        </li>
      </ul>

      <!-- Message si aucune affectation -->
      <ng-template #noAffectations>
        <p class="no-data">Aucune affectation trouvée pour cet utilisateur.</p>
      </ng-template>
    </div>

    <div class="modal-footer">
      <button class="close-modal-button" (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>