<app-menu></app-menu>

<div class="main-content">
  <div class="header-container">
    <h1 class="page-header">Liste des utilisateurs</h1>
    <div
      class="custom-button plus-button"
      (click)="showDialog()"
      title="Show more"
    >
      +
    </div>
  </div>

  <!-- Conteneur de recherche et rôle -->
  <div class="search-and-role-container">
    <div class="search-bar">
      <input type="text" placeholder="Recherche..." [(ngModel)]="searchQuery" />
      <i class="fas fa-search search-icon" (click)="searchTeachers()"></i>
    </div>

    <div class="role" *ngIf="selectedYear != null">
      <select id="role" [(ngModel)]="selectedRole" (change)="filterByRole()">
        <option value="" disabled selected>Choisissez un rôle</option>
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
    </div>
  </div>

  <!-- Conteneur des utilisateurs -->
  <section [ngSwitch]="view" class="card-content">
    <div *ngSwitchCase="'card'" class="user-grid">
      <app-user-card
        [user]="user"
        [selectedYear]="getSelectedYear()"
        (deleteUser)="delete($event)"
        *ngFor="let user of listUsers"
      >
      </app-user-card>
    </div>
    <div *ngSwitchDefault>
      <p>Aucun utilisateur trouvé</p>
    </div>
  </section>

  <!-- Affichage des profils -->
  <app-enseignants></app-enseignants>
</div>
