<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <!-- Titre avec le nom d'utilisateur -->
    <mat-card-title>
      <a href="javascript:void(0);">
        <span>{{ enseignant.name }} </span>
        <span>{{ enseignant.firstname }}</span><br/>
      </a>
    </mat-card-title>

    <!-- Sous-titre pour afficher les rôles de l'utilisateur -->
    <mat-card-subtitle>
      <ng-container *ngIf="enseignant?.user?.roles?.length; else noRoles">
        <span *ngFor="let roleDto of enseignant?.user?.roles; let last = last">
          {{ roleDto.role }} <!-- Affichage du rôle et de l'année -->
          <span *ngIf="!last"><br></span>
        </span>
      </ng-container>
      <ng-template #noRoles>
        <span>Aucun rôle assigné</span>
      </ng-template>
    </mat-card-subtitle>

    <mat-card-content class="custom-description">
      <div *ngIf="enseignant.categorieEnseignant">
        <span>{{ enseignant.categorieEnseignant }}</span>
      </div>

      <div>Heure Service: {{ enseignant.maxHeuresService }}h</div>
      <div>Heure Affecté: {{ enseignant.heuresAssignees }}h</div>
      <div>Heure Décharge: {{ enseignant.nbHeureCategorie }}h</div>
    </mat-card-content>


<!-- Actions (modification et suppression avec icônes personnalisées) -->
<mat-card-actions class="custom-actions">
  <!-- Lien pour modifier l'utilisateur avec une icône -->
  <div
    class="custom-icon edit-icon"
    *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT')"
    (click)="openDialog(enseignant)"
    title="Edit user"
  >
    ✏️
  </div>

  <!-- Bouton pour supprimer l'utilisateur avec une icône -->
  <div
    class="custom-icon delete-icon"
    *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT')"
    (click)="delete(enseignant)"
    title="Delete user"
  >
    🗑️
  </div>


  <div
  class="custom-icon delete-icon"
  *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT') "
  (click)="showAffectations(enseignant)"
  title="affiche affectation"
      >
    🔍
    </div>
</mat-card-actions>
