
/* Style des boutons dans le dialogue */
.mat-dialog-actions button {
  border-radius: 8px; /* Coins arrondis des boutons */
  font-weight: bold;  /* Texte en gras */
  padding: 10px 20px; /* Taille des boutons */
}



/* Style des entrées de texte */
.mat-input-element {
  border-radius: 8px; /* Coins arrondis des champs de texte */
}


/* Ajouter des bordures arrondies aux selecteurs */
mat-select {
  border-radius: 8px;
}

/* Style du fond du dialogue */
.custom-dialog-container {
  width: 90vw !important;
  max-width: 1000px !important;
  height: auto !important;
  max-height: 90vh !important;
  background-color: #bbd7f1; /* Couleur de fond bleu clair */
  border-radius: 16px !important; /* Bords arrondis */
  padding: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre douce */
}



