<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <!-- Titre avec le nom d'utilisateur -->
    <mat-card-title>
      <a href="javascript:void(0);">
        <span>{{ user.name }} </span>
        <span>{{ user.firstname }}</span><br/>
        <span>{{ user.username }} </span>
      </a>
    </mat-card-title>

    <!-- Sous-titre pour afficher les rôles de l'utilisateur -->
    <mat-card-subtitle>
      <ng-container *ngIf="user.roles?.length; else noRoles">
        <span *ngFor="let roleDto of user.roles; let last = last">
          {{ roleDto.role }} <!-- Affichage du rôle et de l'année -->
          <span *ngIf="!last"><br></span>
        </span>
      </ng-container>
      <ng-template #noRoles>
        <span>No roles assigned</span>
      </ng-template>
    </mat-card-subtitle>

    <!-- Sous-titre pour l'email de l'utilisateur -->
    <mat-card-subtitle class="contact-info">
      <a
        [href]="'mailto:' + user.email"
        [title]="'Send an email to ' + user.username"
        class="truncate"
      >
        {{ user.email }}
      </a>
    </mat-card-subtitle>
  </mat-card-title-group>

  <!-- Actions (modification et suppression avec icônes) -->
  <mat-card-actions class="action-icons">
    <!-- Lien pour modifier l'utilisateur avec une icône -->
    <a mat-button *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT')" [routerLink]="['/edit', user.id]">
      <mat-icon>edit</mat-icon>
    </a>

    <!-- Bouton pour supprimer l'utilisateur avec une icône -->
    <button
      mat-button
      *ngIf="userRoles.includes('CHEF_DE_DEPARTEMENT')"
      (click)="delete(user)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
