Annee -> Departement -> Formation -> Niveau -> Orientation -> Semestre -> Modules -> Groupe

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="button-container">
  Nouvelle année
  <button class="new-year" (click)="openAddAnneeDialog()">+</button>
</div>

<ul class="tree">
  <li *ngFor="let annee of annees; trackById">
    <details>
      <summary (click)="showType('ANNEE', annee)">
        Année: {{ annee.debut || 'Nouvelle Année' }}
        <button (click)="openAddDepartementDialog(annee.id)">+</button>
        <button (click)="removeAnnee(annee)"><i class="fa fa-trash-o"></i></button>
      </summary>
      <ul>
        <li *ngFor="let departement of getDepartementsByAnneeIndex(annee.id); trackById">
          <details>
            <summary (click)="showType('DEPARTEMENT', departement)">
              Département: {{ departement.nom || 'Nouveau Département' }}
              <button (click)="openAddFormationDialog(departement.id)">+</button>
              <button (click)="removeDepartement(departement)"><i class="fa fa-trash-o"></i></button>
            </summary>
            <ul>
              <li *ngFor="let formation of getFormationsByDepartement(departement.id); trackById">
                <details>
                  <summary (click)="showType('FORMATION', formation)">
                    Formation: {{ formation.nom || 'Nouvelle Formation' }}
                    <button (click)="openAddNiveauDialog(formation.id)">+</button>
                    <button (click)="removeFormation(formation)"><i class="fa fa-trash-o"></i></button>
                  </summary>
                  <ul>
                    <li *ngFor="let niveau of getNiveauxByFormation(formation.id); trackById">
                      <details>
                        <summary (click)="showType('NIVEAU', niveau)">
                          Niveau: {{ niveau.nom || 'Nouveau Niveau' }}
                          <button (click)="openAddSemestreDialog(niveau.id)">+</button>
                          <button (click)="removeNiveau(niveau)"><i class="fa fa-trash-o"></i></button>
                        </summary>
                        <ul>
                          <li *ngFor="let semestre of getSemestreByNiveau(niveau.id); trackById">
                            <details>
                              <summary (click)="showType('SEMESTRE', semestre)">
                                Semestre: {{ semestre.nom || 'Nouveau Semestre' }}
                                <button (click)="openAddModuleDialog(semestre.id)">+</button>
                                <button (click)="removeSemestre(semestre)"><i class="fa fa-trash-o"></i></button>
                              </summary>
                              <ul>
                                <li *ngFor="let module of getModulesBySemestre(semestre.id); trackById">
                                  <details>
                                    <summary (click)="showType('MODULE', module)">
                                      Module: {{ module.nom || 'Nouveau Module' }}
                                      <button (click)="openAddGroupeDialog(module.id)">+</button>
                                      <button (click)="removeModule(module)"><i class="fa fa-trash-o"></i></button>
                                    </summary>
                                    <ul>
                                      <li *ngFor="let groupe of getGroupesByModule(module.id); trackById">
                                        <details>
                                          <summary (click)="showType('GROUPE', groupe)">
                                            {{ groupe.nom || 'Nouveau Groupe' }} ({{ groupe.heuresAffectees  }} / {{groupe.totalHeuresDuGroupe}} heures)
                                            <button (click)="openAddAffectationDialog(groupe.id)">+</button>
                                            <button (click)="removeGroupe(groupe)"><i class="fa fa-trash-o"></i></button>
                                          </summary>

                                          <div *ngIf="affectations && affectations.length > 0">
                                            <div *ngFor="let affectation of getAffectationsByGroupe(groupe.id); trackById" class="affectation-row">
                                              <div class="affectation-info">
                                                <p><strong>Enseignant :</strong> {{ affectation.enseignantId }}</p>
                                              <!--<p><strong>Date d'affectation :</strong> {{ affectation.dateAffectation | date }}</p>-->
                                                    <p><strong>Heures assignées : </strong>
                                                      <input type="number" [(ngModel)]="affectation.heuresAssignees" min="0">
                                                    </p>
                                                    <i class="fa-solid fa-repeat"
                                                       style="color: blue; margin-right: 0.4cm; cursor: pointer;"
                                                       (click)="updateAffectation(affectation)">
                                                    </i>
                                                  <i class="fa fa-trash-o"
                                                     style="font-size:24px; color:red; cursor: pointer;"
                                                     (click)="removeAffectation(affectation)">
                                                  </i>
                                              </div>
                                            </div>
                                          </div>
                                        </details>
                                      </li>
                                    </ul>
                                  </details>
                                </li>
                              </ul>
                            </details>
                          </li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>