Annee -> Departement -> Formation -> Niveau -> Orientation -> Semestre -> Modules -> Groupe

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="button-container">
  Nouvelle année
  <button class="new-year" (click)="openAddAnneeDialog()">+</button>
</div>

<ul class="tree">
  <li *ngFor="let annee of data.annees; let i = index">
    <details>
      <summary (click)="showType('ANNEE', annee)">
        Année: {{ annee.debut || 'Nouvelle Année' }}
        <button (click)="openAddDepartementDialog(i)">+</button>
        <button (click)="removeAnnee(i)"><i class="fa fa-trash-o"></i></button>
      </summary>
      <ul>
        <li *ngFor="let departement of annee.departements; let j = index">
          <details>
            <summary (click)="showType('DEPARTEMENT', departement)">
              Département: {{ departement.nom || 'Nouveau Département' }}
              <button (click)="openAddFormationDialog(i, j)">+</button>
              <button (click)="removeDepartement(i, j)"><i class="fa fa-trash-o"></i></button>
            </summary>
            <ul>
              <li *ngFor="let formation of departement.formations; let k = index">
                <details>
                  <summary (click)="showType('FORMATION', formation)">
                    Formation: {{ formation.nom || 'Nouvelle Formation' }}
                    <button (click)="openAddNiveauDialog(i, j, k)">+</button>
                    <button (click)="removeFormation(i, j, k)"><i class="fa fa-trash-o"></i></button>
                  </summary>
                  <ul>
                    <li *ngFor="let niveau of formation.niveaux; let l = index">
                      <details>
                        <summary (click)="showType('NIVEAU', niveau)">
                          Niveau: {{ niveau.nom || 'Nouveau Niveau' }}
                          <button (click)="openAddSemestreDialog(i, j, k, l)">+</button>
                          <button (click)="removeNiveau(i, j, k, l)"><i class="fa fa-trash-o"></i></button>
                        </summary>
                        <ul>
                          <li *ngFor="let semestre of niveau.semestres; let n = index">
                            <details>
                              <summary (click)="showType('SEMESTRE', semestre)">
                                Semestre: {{ semestre.nom || 'Nouveau Semestre' }}
                                <button (click)="openAddModuleDialog(i, j, k, l, n)">+</button>
                                <button (click)="removeSemestre(i, j, k, l, n)"><i class="fa fa-trash-o"></i></button>
                              </summary>
                              <ul>
                                <li *ngFor="let module of semestre.modules; let o = index">
                                  <details>
                                    <summary (click)="showType('MODULE', module)">
                                      Module: {{ module.nom || 'Nouveau Module' }}
                                      <button (click)="openAddGroupeDialog(i, j, k, l, n, o)">+</button>
                                      <button (click)="removeModule(i, j, k, l, n, o)"><i class="fa fa-trash-o"></i></button>
                                    </summary>
                                    <ul>
                                      <li *ngFor="let groupe of module.groupes; let p = index">
                                        <details>
                                          <summary (click)="showType('GROUPE', groupe)">
                                            {{ groupe.nom || 'Nouveau Groupe' }} ({{ groupe.heuresAffectees  }} / {{groupe.totalHeuresDuGroupe}} heures)
                                            <button (click)="openAddAffectationDialog(i, j, k, l, n, o, p)">+</button>
                                            <button (click)="removeGroupe(i, j, k, l, n, o, p)"><i class="fa fa-trash-o"></i></button>
                                          </summary>

                                          <div *ngIf="groupe.affectations && groupe.affectations.length > 0">
                                            <div *ngFor="let affectation of groupe.affectations; let q = index" class="affectation-row">
                                              <div class="affectation-info">
                                                <p><strong>Enseignant :</strong> {{ affectation.nomEnseignant || 'Inconnu' }}</p>
                                                <p><strong>Date d'affectation :</strong> {{ affectation.dateAffectation | date }}</p>

                                                    <p><strong>Heures assignées : </strong>
                                                      <input type="number" [(ngModel)]="affectation.heuresAssignees" min="0">
                                                    </p>
                                                    <i class="fa-solid fa-repeat"
                                                       style="color: blue; margin-right: 0.4cm; cursor: pointer;"
                                                       (click)="updateAffectation(i, j, k, l, n, o, p, q,affectation.heuresAssignees)">
                                                    </i>
                                                  <i class="fa fa-trash-o"
                                                     style="font-size:24px; color:red; cursor: pointer;"
                                                     (click)="removeAffectation(i, j, k, l, n, o, p, q)">
                                                  </i>

                                              </div>
                                            </div>
                                          </div>

                                        </details>
                                      </li>
                                    </ul>


                                  </details>
                                </li>
                              </ul>
                            </details>
                          </li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>
