<app-menu></app-menu>

Annee -> Departement -> Formation -> Niveau -> Orientation -> Semestre -> Modules -> Groupe


<ul class="tree">
    <li>
      <details open>
        <summary>Annees</summary>
        <ul>
          <li>
            <details>
              <summary>Annee 2025</summary>
              <ul>
                <li>
                    <details>
                        <summary>Departement Informatique</summary>
                        <ul>
                          <li>
                            <details>
                                <summary>Formation Master</summary>
                                <ul>
                                  <li>
                                    <details>
                                        <summary>Niveau M2</summary>
                                        <ul>
                                          <li>
                                            <details>
                                                <summary>Orientation IL</summary>
                                                <ul>
                                                    <li>
                                                        <details>
                                                            <summary>Semestre 1</summary>
                                                            <ul>
                                                              <li>
                                                                <details>
                                                                    <summary>Module Gestion de Projet</summary>
                                                                    <ul>
                                                                      <li>
                                                                        <details>
                                                                            <summary>Groupe TD1</summary>
                                                                            <ul>
                                                                              <li>Affectation enseignant 1</li>
                                                                            </ul>
                                                                        </details>
                                                                      </li>
                                                                      <li>
                                                                        <details>
                                                                            <summary>Groupe TP1</summary>
                                                                            <ul>
                                                                              <li>Affectation enseignant 2</li>
                                                                            </ul>
                                                                        </details>
                                                                      </li>
                                                                    </ul>
                                                                </details>
                                                              </li>
                                                            </ul>
                                                        </details>
                                                    </li>
                                                </ul>
                                            </details>
                                          </li>
                                        </ul>
                                    </details>
                                  </li>
                                </ul>
                            </details>
                          </li>
                        </ul>
                    </details>
                </li>
                <li>Departement Mathématiques</li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>
  </ul>