<app-menu></app-menu>

Annee -> Departement -> Formation -> Niveau -> Orientation -> Semestre -> Modules -> Groupe

<!--
<ul class="tree">
    <li>
      <details open>
        <summary>Annees</summary>
        <ul>
          <li *ngFor="let annee of annees">
            <details open>
              <summary>{{annee.debut}}-{{annee.debut+1}}</summary>
              <ul>
                <li *ngFor="let departement of annee.departements">
                    <details>
                        <summary>{{departement.nom}}</summary>
                        <ul>
                          <li *ngFor="let formation of departement.formations">
                            <details>
                                <summary>{{formation.nom}}</summary>
                                <ul>
                                  <li>
                                    <details>
                                        <summary>Niveau M2</summary>
                                        <ul>
                                          <li>
                                            <details>
                                                <summary>Orientation IL</summary>
                                                <ul>
                                                    <li>
                                                        <details>
                                                            <summary>Semestre 1</summary>
                                                            <ul>
                                                              <li>
                                                                <details>
                                                                    <summary>Module Gestion de Projet</summary>
                                                                    <ul>
                                                                      <li>
                                                                        <details>
                                                                            <summary>Groupe TD1</summary>
                                                                            <ul>
                                                                              <li>Affectation enseignant 1</li>
                                                                            </ul>
                                                                        </details>
                                                                      </li>
                                                                      <li>
                                                                        <details>
                                                                            <summary>Groupe TP1</summary>
                                                                            <ul>
                                                                              <li>Affectation enseignant 2</li>
                                                                            </ul>
                                                                        </details>
                                                                      </li>
                                                                    </ul>
                                                                </details>
                                                              </li>
                                                            </ul>
                                                        </details>
                                                    </li>
                                                </ul>
                                            </details>
                                          </li>
                                        </ul>
                                    </details>
                                  </li>
                                </ul>
                            </details>
                          </li>
                        </ul>
                    </details>
                </li>
                </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>
  </ul>-->

<ul class="tree">
  <li *ngFor="let annee of data.annees; let i = index">
    <details>
      <summary (click)="showType('ANNEE', annee)">
        Année: {{ annee.label || 'Nouvelle Année' }}
        <button (click)="addAnnee()">+</button>
        <button (click)="removeAnnee(i)">-</button>
      </summary>
      <ul>
        <li *ngFor="let departement of annee.departements; let j = index">
          <details>
            <summary (click)="showType('DEPARTEMENT', departement)">
              Département: {{ departement.label || 'Nouveau Département' }}
              <button (click)="addDepartement(i)">+</button>
              <button (click)="removeDepartement(i, j)">-</button>
            </summary>
            <ul>
              <li *ngFor="let formation of departement.formations; let k = index">
                <details>
                  <summary (click)="showType('FORMATION', formation)">
                    Formation: {{ formation.label || 'Nouvelle Formation' }}
                    <button (click)="addFormation(i, j)">+</button>
                    <button (click)="removeFormation(i, j, k)">-</button>
                  </summary>
                  <ul>
                    <li *ngFor="let niveau of formation.niveaux; let l = index">
                      <details>
                        <summary (click)="showType('NIVEAU', niveau)">
                          Niveau: {{ niveau.label || 'Nouveau Niveau' }}
                          <button (click)="addNiveau(i, j, k)">+</button>
                          <button (click)="removeNiveau(i, j, k, l)">-</button>
                        </summary>
                        <ul>
                          <li *ngFor="let orientation of niveau.orientations; let m = index">
                            <details>
                              <summary (click)="showType('ORIENTATION', orientation)">
                                Orientation: {{ orientation.label || 'Nouvelle Orientation' }}
                                <button (click)="addOrientation(i, j, k, l)">+</button>
                                <button (click)="removeOrientation(i, j, k, l, m)">-</button>
                              </summary>
                              <ul>
                                <li *ngFor="let semestre of orientation.semestres; let n = index">
                                  <details>
                                    <summary (click)="showType('SEMESTRE', semestre)">
                                      Semestre: {{ semestre.label || 'Nouveau Semestre' }}
                                      <button (click)="addSemestre(i, j, k, l, m)">+</button>
                                      <button (click)="removeSemestre(i, j, k, l, m, n)">-</button>
                                    </summary>
                                    <ul>
                                      <li *ngFor="let module of semestre.modules; let o = index">
                                        <details>
                                          <summary (click)="showType('MODULE', module)">
                                            Module: {{ module.label || 'Nouveau Module' }}
                                            <button (click)="addModule(i, j, k, l, m, n)">+</button>
                                            <button (click)="removeModule(i, j, k, l, m, n, o)">-</button>
                                          </summary>
                                          <ul>
                                            <li *ngFor="let groupe of module.groupes; let p = index">
                                              <details>
                                                <summary (click)="showType('GROUPE', groupe)">
                                                  Groupe: {{ groupe.nom || 'Nouveau Groupe' }}
                                                  <button (click)="addGroupe(i, j, k, l, m, n, o)">+</button>
                                                  <button (click)="removeGroupe(i, j, k, l, m, n, o, p)">-</button>
                                                </summary>
                                              </details>
                                            </li>
                                          </ul>
                                        </details>
                                      </li>
                                    </ul>
                                  </details>
                                </li>
                              </ul>
                            </details>
                          </li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>
