
.global-header{
  background-color: #ffffff; /* Couleur de fond bleu clair */

}


.global-header h2 {
  text-align: center; /* Centrer le titre horizontalement */
  padding: 10px 0; /* Ajouter un peu d'espace autour du titre */
  font-size: 24px; /* Ajuster la taille du texte */
  font-weight: bold; /* Mettre en gras le titre */
  color: #333; /* Ajuster la couleur du titre */
  position: relative; /* Nécessaire pour placer le pseudo-élément correctement */
  margin-bottom: 50px;
}

.global-header h2::after {
  content: ''; /* Créer un pseudo-élément */
  position: absolute;
  bottom: -5px; /* Placer la ligne juste en dessous du titre */
  left: 50%; /* Centrer la ligne par rapport au titre */
  width: 500px; /* Longueur de la ligne */
  height: 2px; /* Épaisseur de la ligne */
  background-color: #333; /* Couleur de la ligne */
  transform: translateX(-50%); /* Déplacer la ligne vers la gauche de 50% de sa propre largeur pour la centrer */
}

/* Espacement général entre les champs */
.form-container mat-form-field {
  width: 100%;
  margin-bottom: 25px;
}

/* Pas d'espacement sous le champ "Rôles" si la case à cocher est visible */
.form-container .selec {
  margin-bottom: 0;  /* Aucune marge après "Rôles" */
}

/* Espacement sous la case à cocher, uniquement si elle est visible */
.form-container mat-checkbox {
  margin-top: 0px !important;
  margin-bottom: 25px;  /* Appliquer la marge après la checkbox */
}

/* Appliquer l'espacement sous le champ "Rôles" seulement si la case à cocher n'est pas présente */
.form-container.no-checkbox .selec {
  margin-bottom: 25px; /* Appliquer l'espacement sous le champ "Rôles" uniquement si la case à cocher est absente */
}



/* Styliser les erreurs de validation */
mat-error {
  font-size: 0.8rem;
  color: #d32f2f;
}

/* Style des boutons du dialogue */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

/* Boutons */
button[mat-button] {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  background-color: #d8e7f5;

}

button[mat-button]:hover {
  opacity: 0.9;
  background-color: #80bbf1;
  color: #ffffff;

}

button[color="primary"] {
  background-color: #d8e7f5;
  color: #333;
}

button[color="primary"]:disabled {
  background-color: #eaf1f870;
  color: #333;
}





/* Conteneur pour aligner les champs côte à côte */
.flex-container {
  display: flex;
  gap: 15px; /* Espacement entre les champs */
}

/* Chaque champ prend 50% de la largeur */
.flex-container mat-form-field {
  flex: 2;
}



@media (max-width: 768px) {
  .mat-form-field.full-width {
    width: 100%; /* Champs en pleine largeur sur petits écrans */
    margin-right: 0;
  }
}


/* Animation d'apparition du dialogue */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}





