
<!--
<mat-toolbar color="primary">
  <span>LOGO</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Mon compte</button>
    <button mat-menu-item (click)="logout()">Déconnecter</button>
  </mat-menu>
</mat-toolbar>
-->

<nav class="navbar">
  <div class="navbar-logo">
    <img src="path/to/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="navbar-links">
    <a href="/dashboard" class="navbar-link">
      Accueil</a>
    <a href="/mon-compte" class="navbar-link">Mon Compte</a>
    <a (click)=" logout()" class="navbar-link">Déconnexion</a>
  </div>
</nav>
