<div class="dialog">
  <h3>Ajouter un nouveau Module</h3>
  <form (ngSubmit)="onAdd()" class="form-container">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input id="nom" [(ngModel)]="newModule.nom" name="nom" required class="input-field">
    </div>

    <div class="form-group">
      <h4>Types d'heures :</h4>
      <div *ngFor="let type of heuresList; let i = index" class="type-container">
        <fieldset class="type-fieldset">
          <legend>{{ type.type }} :</legend>

          <div class="input-group">
            <label [for]="'heures-' + i">Heures:</label>
            <input [id]="'heures-' + i" type="number" [(ngModel)]="type.heures" [name]="'heures-' + i" required class="input-field">
          </div>

          <div class="input-group">
            <label [for]="'groupes-' + i">Nombre de Groupes:</label>
            <input [id]="'groupes-' + i" type="number" [(ngModel)]="type.groupes" [name]="'groupes-' + i" required class="input-field">
          </div>
        </fieldset>
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn-submit">Ajouter</button>
      <button type="button" (click)="onCancel()" class="btn-cancel">Annuler</button>
    </div>
  </form>
</div>
