<div class="global-header">
  <h2 mat-dialog-title>Ajouter un nouveau Module</h2>

  <mat-dialog-content>
    <form>
      <!-- Nom du module -->
      <div class="flex-container">
        <mat-form-field appearance="fill" class="full-width mgb20 form-field">
          <mat-label>Nom</mat-label>
          <input matInput id="nom" [(ngModel)]="newModule.nom" name="nom" required class="input-field">
        </mat-form-field>
      </div>

      <!-- Types d'heures -->
      <div class="form-group">
        <h3 mat-dialog-title>Types d'heures :</h3>

        <div *ngFor="let type of heuresList; let i = index" class="type-container">




            <div class="flex-container">
              <mat-label>{{ type.type }} :</mat-label>
              <!-- Champ Heures -->
              <mat-form-field appearance="fill" class="full-width mgb20">
                <mat-label>Heures</mat-label>
                <input matInput type="number" [(ngModel)]="type.heures" [name]="'heures-' + i" required>
              </mat-form-field>

              <!-- Champ Nombre de Groupes -->
              <mat-form-field appearance="fill" class="full-width mgb20">
                <mat-label>Nombre de Groupes</mat-label>
                <input matInput type="number" [(ngModel)]="type.groupes" [name]="'groupes-' + i" required>
              </mat-form-field>
            </div>

      
        </div>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()">Annuler</button>
    <button mat-button color="primary" type="button" (click)="onAdd()">Sauvegarder</button>
  </mat-dialog-actions>
</div>
