<h2 mat-dialog-title *ngIf="isUpdateMode">Mettre à jour {{ form.get('username')?.value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Créer un nouvel utilisateur</h2>

<mat-dialog-content>
  <form [formGroup]="form" novalidate class="form-container">

    <!-- Username -->
    <mat-form-field class="full-width mgb20">
      <input matInput placeholder="Nom d'utilisateur" formControlName="username" required name="username"/>
      <mat-error *ngIf="form.get('username')?.dirty && form.get('username')?.hasError('required')">
        Le nom d'utilisateur est <strong>obligatoire</strong>
      </mat-error>
      <mat-error *ngIf="form.get('username')?.dirty && form.get('username')?.hasError('minlength')">
        Le nom d'utilisateur doit contenir au <strong>minimum 2 caractères</strong>
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="full-width mgb20">
      <input matInput placeholder="Email" formControlName="email" required name="email"/>
      <mat-error *ngIf="form.get('email')?.dirty && form.get('email')?.hasError('required')">
        L'email est <strong>obligatoire</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email')?.dirty && !form.get('email')?.hasError('required') && form.get('email')?.hasError('googleEmail')">
        Format d'email invalide
      </mat-error>
    </mat-form-field>

    <!-- Role Selection -->
    <mat-form-field class="full-width mgb20">
      <mat-label>Rôles</mat-label>
      <mat-select formControlName="roles" multiple name="roles">
        <mat-option value="CHEF_DE_DEPARTEMENT">Chef de département</mat-option>
        <mat-option value="RESPONSABLE_DE_FORMATION">Responsable de formation</mat-option>
        <mat-option value="SECRETARIAT_PEDAGOGIQUE">Secrétariat pédagogique</mat-option>
        <mat-option value="ENSEIGNANT">Enseignant</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field class="full-width mgb20" *ngIf="!isUpdateMode">
      <input matInput type="password" placeholder="Mot de passe" formControlName="password" required />
      <mat-error *ngIf="form.get('password')?.dirty && form.get('password')?.hasError('required')">
        Le mot de passe est <strong>obligatoire</strong>
      </mat-error>
      <mat-error *ngIf="form.get('password')?.dirty && form.get('password')?.hasError('minlength')">
        Le mot de passe doit contenir au <strong>minimum 6 caractères</strong>
      </mat-error>
      <mat-error *ngIf="form.get('password')?.dirty && form.get('password')?.hasError('weakPassword')">
        Le mot de passe doit contenir au moins 1 lettre minuscule, 1 lettre majuscule, 1 chiffre, et 1 caractère spécial.
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field class="full-width mgb20" *ngIf="!isUpdateMode">
      <input matInput type="password" placeholder="Confirmer le mot de passe" formControlName="confirmPassword" required />
      <mat-error *ngIf="form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.hasError('required')">
        La confirmation du mot de passe est <strong>obligatoire</strong>
      </mat-error>
      <mat-error *ngIf="form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.dirty">
        Les mots de passe ne correspondent pas
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button type="button" (click)="cancel()">Annuler</button>
  <button mat-button color="primary" type="button" (click)="submit(form.value)" [disabled]="form.invalid">Sauvegarder</button>
</mat-dialog-actions>
