


/* Style du bouton "Ajouter un enseignant" */
.add-teacher-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.add-teacher-btn i {
    margin-right: 10px;
    font-size: 20px;
}

.add-teacher-btn:hover {
    background: linear-gradient(135deg, #0056b3, #003e7e);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.add-teacher-btn:active {
    transform: translateY(0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.search-and-add-container {
    display: flex;
    justify-content: space-between;
    /* Espacement entre la barre de recherche et le bouton */
    align-items: center;
    gap: 10px;
    /* Espacement entre la barre de recherche et le bouton */
    margin-bottom: 20px;
    /* Espace sous cette section */
}
