<app-menu></app-menu>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="main-content">
    <div class="search-and-add-container">
    <div class="search-bar">
        <input type="text" placeholder="Rechercher un enseignant..." id="searchInput">
        <button class="search-btn">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <button class="add-teacher-btn">
        <i class="fas fa-plus"></i> Ajouter un enseignant
    </button>
    </div>
    <div class="user-cards-container">
        <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
    </div>
</div>