
<div class="main-content">
    <div class="search-and-add-container">
        <div class="search-bar">
            <input type="text" placeholder="Rechercher un enseignant..." [(ngModel)]="searchQuery">
            <button class="search-btn" (click)="searchTeachers()"> <!-- On appelle la méthode searchTeachers() -->
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="role">
            <select id="role" [(ngModel)]="selectedRole" (change)="filterByRole()">
                <option value="" disabled selected>Rôle</option>
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
        </div>
       
        <button class="add-teacher-btn">
            <i class="fas fa-plus"></i> Ajouter un enseignant
        </button>
    </div>

    <div class="user-cards-container">
        <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
    </div>
</div>