mat-dialog-content {
  padding: 32px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 24px;
  background-color: #ffffff;
  border-radius: 4px;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  mat-dialog-content {
    padding: 16px;
  }
}

button[mat-flat-button] {
  background-color: #3f51b5;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  padding: 8px 20px;
  border-radius: 4px; 
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: none;
  margin: 0 8px 8px 100px;

  &:hover {
    background-color: #303f9f; 
  }

  &:focus {
    outline: none;
    background-color: #1a237e; 
  }

  &:active {
    background-color: #3f51b5; 
    transform: scale(0.98); 
  }
}

button[mat-flat-button].cancel {
  background-color: #757575; 
  &:hover {
    background-color: #616161;
  }
  &:focus {
    background-color: #424242;
  }
  &:active {
    transform: scale(0.98);
  }
}


form {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #1976d2;
}


.custom-checkbox {
  font-size: 1rem;
  margin-right: 10px;
  --mat-checkbox-ripple-color: rgba(0, 123, 255, 0.1); /* Couleur légère sur clic */
}

mat-checkbox {
  color: #1e88e5; /* Couleur principale */
}

/* Ajoute de l'espace et un bon alignement */
.custom-checkbox .mat-checkbox-label {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

/* Effet moderne lors du survol */
.custom-checkbox:hover {
  background-color: rgba(30, 136, 229, 0.05);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}