<div *ngIf="enseignant.maxHeuresService === -1; else formTemplate">
    <p>Chargement des informations de l'enseignant...</p>
</div>
<ng-template #formTemplate>
<div class="form">
    <h1>
        <mat-icon>{{ isEdit ? 'person_edit' : 'person_add' }}</mat-icon>

        {{ isEdit ? 'Modifier' : 'Ajouter' }} un Enseignant
    </h1>

    <div mat-dialog-content>
        <form>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Utilisateur</mat-label>
                <ng-container *ngIf="isEdit; else selectUser">
                    <input matInput [value]="userName" disabled />
                </ng-container>
                <ng-template #selectUser>
                    <mat-select [(ngModel)]="enseignant.id" name="utilisateur" required>
                        <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.id">
                            {{ utilisateur.username }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!enseignant.id">L'utilisateur est requis.</mat-error>
                </ng-template>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Nombre d'heures</mat-label>
                <input matInput [(ngModel)]="enseignant.maxHeuresService" name="nombreHeures" type="number"
                    [value]="enseignant ? enseignant.maxHeuresService : defaultHeures" required />
                <mat-error *ngIf="!enseignant.maxHeuresService">Le nombre d'heures est requis.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Categorie d'Enseignant</mat-label>
                <mat-select [(ngModel)]="enseignant.categorieEnseignant" name="categorieEnseignant" required>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{ category }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!enseignant.categorieEnseignant">La categorie est requise.</mat-error>
            </mat-form-field>

            <div *ngIf="enseignant.categorieEnseignant">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Heures pour {{ enseignant.categorieEnseignant }}</mat-label>
                    <input matInput type="number" [(ngModel)]="enseignant.nbHeureCategorie" name="nbHeureCategorie" required />
                    <mat-error *ngIf="!enseignant.nbHeureCategorie">Les heures pour cette catégorie sont requises.</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-flat-button (click)="save()">Enregistrer</button>
        <button mat-flat-button class="cancel" (click)="close()">Fermer</button>
    </div>
</div>
</ng-template>
