<!-- <ng-template #formTemplate> -->
  <div class="global-header">
    <h2 mat-dialog-title >Créer une Affectation</h2>

    <mat-dialog-content>
      <form class="form-container" >

        <div class="flex-container">
          <!-- Sélection de l'enseignant -->
          <mat-form-field appearance="fill" class="full-width mgb20 form-field">
            <mat-label>Enseignant</mat-label>
            <mat-select id="enseignant" [(ngModel)]="enseignantId" name="enseignant" required>
              <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
                {{ enseignant.firstname }} {{ enseignant.name }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="form.get('enseignantId')?.invalid">L'enseignant est <strong>obligatoire</strong>.</mat-error> -->
          </mat-form-field>
        </div>

        <div class="flex-container">
          <!-- Sélection du module -->
          <mat-form-field appearance="fill" class="full-width mgb20 form-field">
            <mat-label>Module</mat-label>
            <mat-select id="module" [(ngModel)]="moduleId" name="module" (change)="onModuleChange()" required>
              <mat-option *ngFor="let module of modules" [value]="module.id">
                {{ module.nom }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="form.get('moduleId')?.invalid">Le module est <strong>obligatoire</strong>.</mat-error> -->
          </mat-form-field>
        </div>

        <div class="flex-container">
          <!-- Sélection du groupe -->
          <mat-form-field appearance="fill" class="full-width mgb20 form-field">
            <mat-label>Groupe</mat-label>
            <mat-select  id="groupe" [(ngModel)]="groupeId" name="groupe" required>
              <mat-option *ngFor="let groupe of groupes" [value]="groupe.id">
                {{ groupe.nom }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="form.get('groupeId')?.invalid">Le groupe est <strong>obligatoire</strong>.</mat-error> -->
          </mat-form-field>
        </div>

        <div class="flex-container">
          <!-- Nombre d'heures assignées -->
          <mat-form-field appearance="fill" class="full-width mgb20 form-field">
            <mat-label>Nombre d'heures</mat-label>
            <input matInput type="number"
            id="heures"
            [(ngModel)]="heuresAssignees"
            name="heures"
            min="1"
            required/>
            <!-- <mat-error *ngIf="form.get('heuresAssignees')?.hasError('required')">Le nombre d'heures est <strong>obligatoire</strong>.</mat-error>
            <mat-error *ngIf="form.get('heuresAssignees')?.hasError('min')">Le nombre d'heures doit être supérieur à 0.</mat-error> -->
          </mat-form-field>
        </div>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

      </form>


    </mat-dialog-content>

    <mat-dialog-actions align="end" class="dialog-actions">
      <button mat-button type="button" (click)="onCancel()">Annuler</button>
      <button mat-button  type="button" (click)="onSubmit()" class="btn-submit">Sauvegarder</button>
    </mat-dialog-actions>

  </div>
<!-- </ng-template> -->
