<div class="global-header">
  <h2 mat-dialog-title >Ajouter une nouvelle année</h2>
  <mat-dialog-content>
  <form>
    <div class="flex-container">
      <!-- Année -->
      <mat-form-field appearance="fill" class="full-width mgb20 form-field">
        <mat-label>Année</mat-label>
        <input matInput type="number" id="debut" [(ngModel)]="newAnnee.debut" name="debut" min="4" required/>
      </mat-form-field>
    </div>

  </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()">Annuler</button>
    <button mat-button  type="button" (click)="onAdd()" class="btn-submit">Sauvegarder</button>
  </mat-dialog-actions>
</div>
