<div class="global-header">
  <h2 mat-dialog-title >Ajouter une nouvelle groupe</h2>
  <mat-dialog-content>

    <form>
      <div class="flex-container">
        <mat-form-field appearance="fill" class="full-width mgb20 form-field">
          <mat-label>Nom</mat-label>
          <input matInput id="nom" [(ngModel)]="newGroupe.nom" name="nom" required>
        </mat-form-field>

      </div>

      <div class="flex-container">

        <mat-form-field appearance="fill" class="full-width mgb20 form-field">

          <mat-label>Type</mat-label>
          <mat-select id="type" [(ngModel)]="newGroupe.type" name="type" required>
            <mat-option value="TP">TP</mat-option>
            <mat-option value="TD">TD</mat-option>
            <mat-option value="CM">CM</mat-option>
          </mat-select>

        </mat-form-field>
      </div>


  </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()">Annuler</button>
    <button mat-button  type="button" (click)="onAdd()" class="btn-submit">Sauvegarder</button>
  </mat-dialog-actions>
</div>


